* {
 margin: 0;
 box-sizing: border-box;
 padding: 0;
}

:root {
 --color-primario: #4b007d;
 --color-secundario: #8200d9;
 --color-light: #c875ff;
 --roboto-font: "Roboto Condensed", sans-serif;
}

body {
 font-family: var(--roboto-font);
}

.header {
 display: flex;
 height: 106px;
 justify-content: space-between;
 background: linear-gradient( to bottom, var(--color-primario), var(--color-secundario));
 box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.16);
}

.header__logo {
 width: 20%;
 display: flex;
 justify-content: center;
 /* border: 1px solid red; */
 align-items: center;
 /* var([nombre_de_variable], en caso la variable no exista) */
 color: var(--color-primario, #445566);
}

.header__navegacion {
 /* border: 1px solid blue; */
 width: 50%;
 display: flex;
}

/* ul */

.header__navegacion-lista {
 display: flex;
 width: 100%;
 list-style: none;
 justify-content: space-evenly;
 align-items: center;
 /* border: 1px solid red; */
}

/* li */

.header__navegacion-item {
 flex: 1;
 /* border: 1px solid black; */
 text-align: center;
 font-size: 28px;
 transition: all 0.5s ease;
}

.header__navegacion-item:hover {
 flex: 1.5;
}

.header__navegacion-item a {
 text-decoration: none;
 color: white;
 font-weight: 100;
}

.header__logo-texto {
 font-size: 48px;
 color: white;
 font-weight: 300;
 margin-left: 20px;
}

.header__logo-texto span {
 font-weight: 800;
}