* {
 margin: 0;
 box-sizing: border-box;
 font-family: 'Roboto', sans-serif;
}

.header {
 height: 80px;
}

/* nav */

.header__nav {
 display: flex;
 height: 100%;
}

/* ul */

.header__lista {
 list-style: none;
 padding: 0;
 display: flex;
 flex: 1;
 /* width:100% */
}

/* li */

.header__item {
 display: flex;
 align-items: center;
 justify-content: center;
 flex: 1;
}

.header__item a {
 text-decoration: none;
 font-size: 1.3rem;
}

/* estilos secundarios */
.centrado{
 margin: 0 auto;
}

#cuadradoNaranja {
 width: 300px;
 height: 300px;
 background-color: coral;
}