<div class="card">
 <img class="card-img-top" src="{{objProducto.pro_img}}" alt="">
 <div class="card-body">
  <h4 class="card-title">{{objProducto.pro_nom}}</h4>
  <p class="card-text">
   Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam, ut odit. Quisquam facilis qui maxi
  </p>
  <p class="card-text">
   <strong>Precio:</strong> <span>S/{{objProducto.pro_prec}}</span>
  </p>
  <button class="btn btn-outline-primary btn-block" 
          (click)="settearProducto()">
   Seleccionar Producto
  </button>
 </div>
</div>