<div class="row">
 <div class="col">
  <table class="table">
   <thead>
    <tr>
     <th>Cabecera 1</th>
     <th>Cabecera 2</th>
     <th>Cabecera 3</th>
     <th>Cabecera 4</th>
    </tr>
   </thead>
   <tbody>
    <tr>
     <td>Contenido 1</td>
     <td>Contenido 2</td>
     <td>Contenido 3</td>
     <td>Contenido 4</td>
    </tr>
    <tr>
     <td>Contenido 1</td>
     <td>Contenido 2</td>
     <td>Contenido 3</td>
     <td>Contenido 4</td>
    </tr>
    <tr>
     <td>Contenido 1</td>
     <td>Contenido 2</td>
     <td>Contenido 3</td>
     <td>Contenido 4</td>
    </tr>
    <tr>
     <td>Contenido 1</td>
     <td>Contenido 2</td>
     <td>Contenido 3</td>
     <td>Contenido 4</td>
    </tr>
    <tr>
     <td>Contenido 1</td>
     <td>Contenido 2</td>
     <td>Contenido 3</td>
     <td>Contenido 4</td>
    </tr>
    <tr>
     <td>Contenido 1</td>
     <td>Contenido 2</td>
     <td>Contenido 3</td>
     <td>Contenido 4</td>
    </tr>
   </tbody>
  </table>
 </div>
</div>