<div class="row">
 <div class="col">
  <table class="table">
   <thead>
    <tr>
     <th>Id</th>
     <th>Nombre</th>
     <th>Apellido</th>
     <th>DNI</th>
     <th>Estado</th>
    </tr>
   </thead>
   <tbody>
    <!-- <app-repartidor tr *ngFor="let repartidor of repartidores"
                     [objRepartidor]="repartidor"></app-repartidor> -->
    <tr *ngFor="let repartidor of repartidores">
     <td>{{repartidor.id}}</td>
     <td>{{repartidor.rep_nom}}</td>
     <td>{{repartidor.rep_ape}}</td>
     <td>{{repartidor.rep_dni}}</td>
     <td>{{repartidor.rep_est}}</td>
    </tr>
   </tbody>
  </table>
 </div>
</div>